<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>

    <!-- создаем фабрику через конструктор -->
    <bean id="radioFactory" class="ru.maxima.spring.RadioFactory"/>

    <!-- Создаем бины через фабрику -->
    <bean id="rockRadio" factory-bean="radioFactory" factory-method="createRockRadio"/>
    <bean id="retroRadio" factory-bean="radioFactory" factory-method="createRetroRadio"/>
    <bean id="nasheRadio" factory-bean="radioFactory" factory-method="createNasheRadio"/>

    <!-- Создаем бин со спиком бинов радиостанций -->
    <bean id="musicPlayer" name="musicPlayer" class="ru.maxima.spring.MusicPlayer">
        <property name="listOfRadio">
        <list>
            <ref bean="retroRadio"/>
            <ref bean="rockRadio"/>
            <ref bean="nasheRadio"/>
        </list>
        </property>
        <property name="nameOfRadioFreq" value="${nameOfRadioFreq}"/>
        <property name="beginFreq" value="${beginFreq}"/>
        <property name="endFreq" value="${endFreq}"/>
    </bean>
</beans>