<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <context:property-placeholder location="application.properties"/>

    <!-- Создаем бины радиостанций -->
    <bean id="rockRadio" class="ru.maxima.spring.RockRadio">
        <property name="name" value="RockRadio"/>
    </bean>
    <bean id="retroRadio" class="ru.maxima.spring.RetroRadio">
        <property name="name" value="RetroRadio"/>
    </bean>
    <bean id="nasheRadio" class="ru.maxima.spring.NasheRadio">
        <property name="name" value="NasheRadio"/>
    </bean>

    <!-- Создаем бин со спиком бинов радиостанций -->
    <bean id="musicPlayer" name="musicPlayer" class="ru.maxima.spring.MusicPlayer">
        <property name="listOfRadio">
        <list>
            <ref bean="rockRadio"/>
            <ref bean="retroRadio"/>
            <ref bean="nasheRadio"/>
        </list>
        </property>
        <property name="nameOfRadioFreq" value="${nameOfRadioFreq}"/>
        <property name="beginFreq" value="${beginFreq}"/>
        <property name="endFreq" value="${endFreq}"/>
    </bean>
</beans>